/*----------------------------------------*/
/*  01. Header CSS
/*----------------------------------------*/
@use"../00-helpers" as *;
// header notification
.notification-text {
    & p {
      & b{
        color: #ffb614;
      }
         color: #fff;
     }
 }
//  main header
 .main-menu {
   & ul {
    & li {
             display: inline-block;
             margin: 0px 30px;
             position: relative;
             &.has-dropdown::after{
              content: "\2b";
              font-size: 19px;
              color: #212121;
              top: 43px;
              position: absolute;
              right: -14px;
             }
             & a{
              font-size: 16px;
              text-transform: capitalize;
              font-weight: 700;
              color:#212121;
              display: inline-block;
              padding: 43px 0;
             }
          
          &:hover > {
              & a{
                color:#3c8599;
                transition: 0.3s;
              }

          }
          & .sub-menu{
            position: absolute;
            width: 220px;
            background-color: #212121;
            padding: 30px;
            left: 0px;
            top: 100%;
            text-align: left;
            transition: 0.5s;
            opacity: 0;
            visibility: hidden;
            z-index: 5;
            & li{
              display: block;
              margin: 0px;
              margin-bottom: 10px;
              padding: 0;
              a {
                color: #fff;
                padding: 0px;
                transition: 0.3s;
                &:hover{
                  color:#3c8599;
                }
              }
              &:last-child{
                margin-bottom: 0px;
              }
            }
          }
          &:hover > {
            & .sub-menu{
              visibility: visible;
              opacity: 1;
              top: 100%;
              left: 0px;
            }

          }
          @media #{$laptop-device}{
            margin: 0px 17px;
          }
             
        }
        
    }
}
.header-search-icon {
	height: 50px;
	width: 50px;
	border: 1px solid #e8e8e8;
	text-align: center;
	line-height: 50px;
	margin-left: 10px;
  transition: .3s;
  
  &:hover{
    background: #3c8599;
    color: #fff;
  }
}
.header-card-icon {
	height: 50px;
	width: 50px;
	border: 1px solid #e8e8e8;
	text-align: center;
	line-height: 50px;
	margin-left: 10px;
  transition: .3s;
 @media #{$laptop-device, $desktop-device}{
    display: none;
  }
  &:hover{
    background: #3c8599;
    color: #fff;
  }
}
.header-right {
	text-align: end;
}
.header-1-space{
  padding-top: 15px ;
  padding-bottom: 15px ;
  @media #{$laptop-device,$extraBig-device}{
    padding-top: 0px;
    padding-bottom: 0px;
  }
  @media #{$large-mobile}{
    padding-right: 0px;
    padding-left: 0px;
  }
}

.notification-text p {
  @media #{$large-mobile}{
    font-size: 12px;
  }
}



// side bar menu css
.tp-sidebar-menu {
  position: fixed;
  right: -100%;
  top: 0;
  width: 320px;
  height: 100%;
  background: #ffffff none repeat scroll 0 0;
  overflow-y: scroll;
  -webkit-box-shadow: -5px 0 20px -5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -5px 0 20px -5px rgba(0, 0, 0, 0.5);
  box-shadow: -5px 0 20px -5px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  z-index: 99999;
  padding: 30px;
}
.tp-sidebar-menu.sidebar-opened {
	right: 0;
}


.body-overlay {
  background-color: rgba(#212121, 0.5);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.body-overlay.opened {
  opacity: 1;
  visibility: visible;
}
//  side-bar style css
.menu-bar {
  margin-top: 20px;
  & ul{
    & li {
      
      padding: 13px;
      border-top: 1px solid #212121;
      &:hover{
        background: #e8e8e8;
      }
      & a{
          color: #000;
          font-weight: 600;
          text-transform: capitalize;
      }
      
    }
    & .toggle-icon{
          &::before{
            content: "\2b";
            position: absolute;
            right: 63px;
            font-size: 38px;
            line-height: 24px;
       }
    }
  }
}
.sidebar-close {
	position: absolute;
	left: 28px;
  top: 13px;
	border: none;
	background: none;
	font-size: 25px;
	color: #212121;
}
.side-bar-logo {
	display: inline-block;
	margin-top: 20px;
}
.tp-menu-toggle {
	margin-left: 30px;
  &  i {
    color: #212121;
    font-size: 20px;
  }
}
.toggle-menu {
	margin-top: 18px;
  
}
.menu-bar ul li .toggle-menu li:hover {
	background: whitesmoke;
}







