/*----------------------------------------*/
/*  cta css
/*----------------------------------------*/
 @use"../00-helpers" as *;

.cta  {
	background-repeat: no-repeat;
	background-size: cover;
    padding-top: 234px;
    padding-bottom: 50px;
    position: relative;
    z-index: 2;
    
    & span {
        font-size: 16px;
        color: #fff;
        font-weight: 700;
        opacity: .5;
    }
    & .cta-title {
        font-size: 40px;
        color: #fff;
        margin-top: 6px;
        font-weight: 700;
        @media #{$laptop-device}{
            font-size: 34px;
          }
        @media #{$desktop-device}{
            font-size: 30px;
          }
        @media #{$large-mobile}{
            font-size: 24px;
          }
    }
    
}

.cta-link {
    margin-top: 135px;
    & a {
        color: #fff;
        font-size: 18px;
        height: 60px;
        width: 60px;
        border: 1px solid #222222;
        line-height: 60px;
        border-radius: 50%;
      }
    
  }
  .cta-main::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: #222222;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    opacity: 0.5;
    z-index: -1;
}


  