/*----------------------------------------*/
/*  feature css
/*----------------------------------------*/
@use"../00-helpers" as *;

.footer-widget{
    & .footer-widget-title {
        color: #fff;
        font-size: 16px;
        font-size: 700;
        margin-bottom: 30px;
    }
    & p {
        color: #aeaeae;
        margin-bottom: 15px;
    }
    & .footer-contact{
        & .footer-contact-item {
            margin-bottom: 20px;
        }
    }
    & ul{
        overflow: hidden;
        & li {
            margin-bottom: 8px;
            color: #aeaeae;
            width: 50%;
            float: left;
            & a{
                & i {
                    margin-right: 10px;
                }
                
            }
        }
    }
}
.footer-subscribe input {
	width: 100%;
	height: 50px;
	padding: 0px 15px;
	background: #1a1a1a;
	border: none;
}
.footer-subscribe input::-moz-placeholder{
    color: #737373;
    font-size: 14px;
}
.footer-subscribe input::placeholder{
    color: #737373;
    font-size: 14px;
}

.footer-subscribe {
    position: relative;
  }
  .footer-subscribe button {
    position: absolute;
    border: none;
    background: #3c8599;
    color: #fff;
    width: 50px;
    height: 100%;
    font-size: 26px;
    right: 0px;
    top: 0px;
  }

.footer-col-2{
    padding-left: 55px;
    @media #{$tablet-device,$large-mobile}{
        padding: 0px;
      }
}
.footer-col-3{
    padding-left: 10px;
    @media #{$tablet-device,$large-mobile}{
        padding: 0px;
      }
}
.footer-col-4{
    padding-left: 20px;
    @media #{$tablet-device,$large-mobile}{
        padding: 0px;
      }
}
.footer-social {
	margin-top: 12px;
	display: flex;
    & a{
        transition: .3s;
        margin-right: 10px;
        &:hover{
            color: #fff;
        }
    }
}
