/*===== 02 - Layout =====*/

@forward "./01-header";
@forward "./02-footer";
@forward "./03-wrapper";
@forward "./04-section";
@forward "./slider";
@forward "./about";
@forward "./fact";
@forward "./services";
@forward "./project";
@forward "./pricing";
@forward "./feature";
@forward "./testimonial";
@forward "./brand";
@forward "./cta";
@forward "./blogs";
@forward "./footer";
