/*----------------------------------------*/
/*  services css
/*----------------------------------------*/
@use"../00-helpers" as *;
// services btn
.services-btn {
	.tp-btn {
		width: 100%;
		margin-left: 0;
	}
}
// services btn
.service{
    & .services-thum{
        position: relative;
        &::before{
            background: -moz-linear-gradient( 90deg, rgb(255,255,255) 0%, rgba(255,255,255,0) 100%);
            background: -webkit-linear-gradient( 90deg, rgb(255,255,255) 0%, rgba(255,255,255,0) 100%);
            background: linear-gradient( 360deg, rgb(255,255,255) 0%, rgba(255,255,255,0) 100%);
            content: "";
            height: 150px;
            width: 100%;
            position: absolute;
            bottom: 0px;
            left: 0px;
        }
    }
    & .services-content{
        padding: 40px 35px;
	    padding-top: 0px;
        box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.06);
        background: #fff;
        position: relative;
        z-index: 2;
        & h3{
            font-size: 24px;
            font-weight: 700;
        }
        & p{
            font-size: 14px;
            margin-top: 20px;
        }
        & img {
            transform: translateY(-34px);
        }
    }
    & .services-btn{
        transform: translateY(-100%);
        transition: .3s;
        position: relative;
        z-index: -1;
    }
    &:hover{
        .services-btn{
            transform: translateY(0);
            z-index: 1;
        }
    }
}

