/*----------------------------------------*/
/*  01. Helpers CSS
/*----------------------------------------*/

// Font Family
$font-family-base:"Space Grotesk", sans-serif;
$headings-font-family:"Space Grotesk", sans-serif;

// Responsive Variables
$extraBig-device: "only screen and (min-width: 1600px)";
$laptop-device: "only screen and (min-width: 1200px) and (max-width: 1599px)";
$desktop-device: "only screen and (min-width: 992px) and (max-width: 1199px)";
$tablet-device: "only screen and (min-width: 768px) and (max-width: 991px)";
$large-mobile: "only screen and (max-width: 767px)";
$small-mobile: "only screen and (max-width: 575px)";
$extra-small-mobile: "only screen and (max-width: 479px)";

// media queri stlyle
@media #{$laptop-device}{

  }
//===============================
// Color Variables
//===============================

// Color
$darkBlue: #063347;
$lightBlue:#3c8599;
$skyBlue: #02A5CE;
$skyGray: #4f6f8f;
$ExtraLightBlue: #e8f2ff;
$dark: #212121;
$darkGray: #363c43;
$gray: #727272;
$grayDark: #5e6d77;
$graydip:#777777;

$lightRed: #ef7009;
$PestColor:#2bbb94;
$WhiteGreayColor:#f7f7f7;
//
$white: #fff;
$black: #212121;
//
$body-color: $gray;
$headings-color: $dark;
$theme-color:$lightBlue;
$body-color:$graydip;
$text-p:$graydip;
// btn


