<!-- --------------------------------------*/ -->
<!--  01. footer html -->
<!-- ---------------------------------------- -->
<footer>
    <div class="footer-widget-area bg-black pt-90 pb-50">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-6 col-md-6">
                    <div class="footer-widget footer-col-1 mb-50">
                        <h3 class="footer-widget-title">About Us </h3>
                        <p>A traditional CCTV system comprises:
                            One or more cameras (analog digital),
                            each with a lens equipped with an 
                            image sensor.</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6">
                    <div class="footer-widget footer-col-2 mb-50">
                        <h3 class="footer-widget-title">About Us </h3>
                       <div class="footer-contact">
                            <div class="footer-contact-item">
                                <p>27 Division St, New York, <br>
                                    NY 10002, USA</p>
                            </div>
                            <div class="footer-contact-item">
                                <p>Mon – Fri: 7.00 – 22.00 <br>
                                    St – Sun: 9.00 – 20.00</p>
                            </div>
                            <div class="footer-contact-item">
                                <p>+1 800 123 456 789 <br>
                                    +1 800 987 654 321</p>
                            </div>
                       </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="footer-widget footer-col-3 mb-50">
                        <h3 class="footer-widget-title">About Us </h3>
                         <ul>
                             <li><a href="#"><i class="fa-solid fa-angle-right"></i>About Us</a></li>
                             <li><a href="#"><i class="fa-solid fa-angle-right"></i>Customer</a></li>
                            <li><a href="#"> <i class="fa-solid fa-angle-right"></i>Service</a></li>
                            <li><a href="#"><i class="fa-solid fa-angle-right"></i>Collections</a></li>
                            <li><a href="#"><i class="fa-solid fa-angle-right"></i>Best Seller</a></li>
                            <li><a href="#"><i class="fa-solid fa-angle-right"></i> Careers</a></li>
                            <li><a href="#"><i class="fa-solid fa-angle-right"></i>Privacy</a></li>
                            <li><a href="#"><i class="fa-solid fa-angle-right"></i>Locationr</a></li>
                            <li><a href="#"><i class="fa-solid fa-angle-right"></i>Our Expert </a></li>
                         </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6">
                    <div class="footer-widget footer-col-4 mb-50">
                        <h3 class="footer-widget-title">About Us </h3>
                        <p>Sign up today for hints, tips & the <br>
                            latest product news</p>
                        <div class="footer-subscribe">
                            <input type="email" placeholder="Email address">
                            <button type="submit"><i class="fa-regular fa-envelope-open"></i></button>
                        </div>
                        <div class="footer-social">
                            <a href="#"><i class="fa-brands fa-twitter"></i></a>
                            <a href="#"><i class="fa-brands fa-behance"></i></a>
                            <a href="#"><i class="fa-brands fa-youtube"></i></a>
                            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>