<!-- --------------------------------------*/ -->
<!--  01. Header html -->
<!-- ---------------------------------------- -->
 <!-- header start -->
<header>
    <!-- header notification area start -->
    <div class="header-notification-area black-bg pt-15 pb-15 ">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="notification-text text-center">
                        <p class="m-0"><b>Limited Time Offer:</b> Shop online and get free no-contact delivery</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <!-- header notification area end -->
      <div class="header-area header-1-space pl-60 pr-60">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-xl-2 col-lg-6 col-md-6 col-7">
                    <div class="logo">
                        <a href="index.html"><img src="./assets/images/logo.png" alt="logo"></a>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-7 d-none d-xl-inline-block">
                    <div class="main-menu text-center" >
                        <nav >
                            <ul>
                                <li class="has-dropdown"><a href="#">home</a>
                                    <ul class="sub-menu">
                                        <li><a href="#">Home Style 1</a></li>
                                        <li><a href="#">Home Style 2</a></li>
                                        <li><a href="#">Home Style 3</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">about</a></li>
                                <li><a href="#">services</a></li>
                                <li><a href="#">pages</a></li>
                                <li><a href="#">news</a></li>
                                <li><a href="#">shop</a></li>
                                <li><a href="#">contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-5">
                    <div class="header-right">
                        <a class="header-search-icon " href="#"><i class="fa-regular fa-magnifying-glass"></i></a>
                        <a class="header-card-icon d-none d-xxl-inline-block " href="#"><i class="fa-regular fa-cart-shopping"></i></a>
                        <a class="tp-btn d-none d-md-inline-block" href="#">Get In Touch</a>
                        <a class="tp-menu-toggle d-xl-none" href="#"><i class="fa-solid fa-bars"></i></a>
                    </div>
                </div>
            </div>
        </div>
      </div>
</header>
<!-- header end -->
<!-- menu-bar custom start -->
<div class="tp-sidebar-menu">
    <button class="sidebar-close"><i class="fa-solid fa-xmark"></i></button>
    <div class="side-bar-logo">
        <a href="index.html"><img src="./assets/images/logo.png" alt="logo"></a>
    </div>
    <!-- menu custom -->
    <div class="drop-down-menu">
        <nav class="menu-bar">
            <ul>
                <li class="toggle-icon" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><a href="#">home</a>
                    <ul id="collapseOne" class="accordion-collapse collapse  toggle-menu" data-bs-parent="#accordionExample">
                        <li><a href="#">home style 1</a></li>
                        <li><a href="#">home style 1</a></li>
                        <li><a href="#">home style 1</a></li>
                    </ul>
                </li>
                <li><a href="#">about</a></li>
                <li><a href="#">services</a></li>
                <li><a href="#">pages</a></li>
                <li><a href="#">news</a></li>
                <li><a href="#">shop</a></li>
                <li><a href="#">contact</a></li>
            </ul>
        </nav>
    </div>
</div>
<div class="body-overlay "></div>
<!-- menubar custom end -->


 
