<head>
	<meta charset="utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<title>sectox</title>
	<meta name="robots" content="noindex, follow" />
	<meta name="description" content="" />
	<meta
		name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no"
	/>
	<!-- Favicon -->
	<link
		rel="shortcut icon"
		type="image/x-icon"
		href="./assets/images/logo.png"
	/>

	<!-- CSS (Font, Vendor, Icon, Plugins & Style CSS files) -->
	<link rel="stylesheet" href="@@webRoot/assets/css/all.min.css">
	<!-- Font CSS -->
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link
		href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet"
	/>

	<!-- Vendor CSS (Bootstrap & Icon Font) -->
	<link rel="stylesheet" href="@@webRoot/assets/css/bootstrap.min.css" />

	<!-- Plugins CSS (All Plugins Files) -->
	<!-- <link rel="stylesheet" href="assets/css/" /> -->

	<!-- Style CSS -->

	<link rel="stylesheet" href="assets/css/backtotop.css">
	<link rel="stylesheet" href="assets/css/animate.min.css">
	<link rel="stylesheet" href="assets/css/preloader.css">
	<link rel="stylesheet" href="assets/css/nice-select.css">
	<link rel="stylesheet" href="assets/css/magnific-popup.css">
	<link rel="stylesheet" href="assets/css/meanmenu.css">
	<link rel="stylesheet" href="assets/css/owl.carousel.min.css">
	<link rel="stylesheet" href="assets/css/all.min.css">
	<link rel="stylesheet" href="assets/css/slick.css">
	<link rel="stylesheet" href="assets/css/swiper-bundle.min.css">
	<link rel="stylesheet" href="assets/css/default.css">
	<link rel="stylesheet" href="assets/css/style.css" />
</head>
