<!-- JS Vendor, Plugins & Activation Script Files -->
<script src="assets/js/Vendor/jquery-1.12.4.min.js"></script>
<script src="assets/js/Vendor/modernizr-3.5.0.min.js"></script>
<!-- Bootstrap JS -->
<script src="assets/js/bootstrap.bundle.min.js"></script>

<!-- Plugins JS -->
<!-- <script src="@@webRoot/assets/js/"></script> -->
<script src="assets/js/backtotop.js"></script>
<script src="assets/js/isotope.pkgd.min.js"></script>
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<script src="assets/js/ajax-form.js"></script>
<script src="assets/js/jquery.meanmenu.min.js"></script>
<script src="assets/js/jquery.scrollUp.min.js"></script>
<script src="assets/js/jquery.counterup.min.js"></script>
<script src="assets/js/jquery.nice-select.min.js"></script>
<script src="assets/js/swiper-bundle.min.js"></script>
<script src="assets/js/waypoints.min.js"></script>
<script src="assets/js/one-page-nav-min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/Plugins.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/slick.min.js"></script>
<script src="assets/js/wow.min.js"></script>
<!-- Activation JS -->

<script src="assets/js/main.js"></script>
